<table  >
	<tbody>
		<tr>
			<td class="modtl">&nbsp;</td>
			<td nowrap="" class="modtc"><span class="modtit">文章列表 </span></td>
			<td nowrap="" align="right" class="modtc"> <%= link_to '写新文章', {:controller => 'articles', :action => 'new'},{ :class => "modact"} %> </td>
			<td  class="modtr">&nbsp;</td>
		</tr>
	</tbody>
</table>

<table>
	<% @articles.each do |article| %>
	<tr>
		<li>
			<%= article.title %>
		</li>
		<li>
			<%= article.body %>
		</li>
		<li>
			<%= link_to '查看',article %>
			<%= link_to '修改',edit_article_path(article)  %>
      <%= link_to '删除',article,:confirm =>'you sure', :method => 'delete' %>

		</li>
	</tr>
	<% end %>

</table>
<%= paginate @articles %>

