<table >
  <tr>
    <td>
    </td>
    <td></td>
    <td>
     
 
    </td><td>
  
<%= link_to '写新文章', {:controller => 'articles', :action => 'new'} %>
  
  
  </td>
  
  </tr>

</table>
<% @articles.each do |article| %>
  <div class = "row">
    <div class = "span9">
      <div class = "well">
        <%= article.title %>
        <%= simple_format(article.body) %>
        
        <div style="float:right;"> 
          <div class="btn-group">
            <%= link_to '查看',article,:class=>'btn' %>
            <%= link_to '修改',edit_article_path(article),:class =>'btn'  %>
            <%= link_to  '删除',article_path(article), :method => 'delete',:class=>'btn' %>
          </div>
        </div>    
      </div>
</div>
</div>    
<% end %>



<div class="pagination"><%= paginate @articles %></div>

