<table >
  <tr>
    <td>
     
文章列表 
    </td><td>
  
<%= link_to '写新文章', {:controller => 'articles', :action => 'new'} %>
  
  
  </td>
  
  </tr>

</table>


<% @articles.each do |article| %>

<p class="lead"><%= article.title %><p>    
<%= simple_format(article.body) %>
		
<li><%= link_to '查看',article %></li>
<li><%= link_to '修改',edit_article_path(article)  %></li>
<li><%= button_to  '删除',article_path(article), :method => 'delete' %></li>

<% end %>



<div class="pagination"><%= paginate @articles %></div>

