<% if can? :create, Article %>
    <%= link_to '写新文章', new_article_path %>
<% end %>

<div class="row">
  <div class="span9">


    <% @articles.each do |article| %>
        <div class="well" >
          <h5><%= article.title %> </h5>
          <%= simple_format(article.body) %>

          <div style="float:right;">
            <div class="btn-group">

              <%= link_to '查看', article, :class => 'btn' %>
              <% if can? :edit, article %>
                  <%= link_to '修改', edit_article_path(article), :class => 'btn' %>
              <% end %>
              <% if can? :destroy, article %>
                  <%= link_to '删除', article_path(article), :method => 'delete', :class => 'btn',:confirm => 'question?'  %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="span3">
       <!--<span class="label label-info"> -->


    <% @tags.each do |tag| %>
        <%= link_to tag.name,  articles_path(:tag_id => tag.id)        %>
       <% end %>


    <!--</span>-->
  </div>
</div>

<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "<<上一页",
                  :next_label => "下一页>>", :class => "pagination") %>



