
<% if current_user %>
  <%= current_user.id %>
  <% end %> 
<% if can? :create,Article %>
<%= link_to '写新文章', {:controller => 'articles', :action => 'new'} %>
<% end %>
  

<% @articles.each do |article| %>
  <div class = "row">
    <div class = "span9">
      <div class = "well">
        <%= article.title %>
        <%= simple_format(article.body) %>
        
        <div style="float:right;"> 
          <div class="btn-group">
            
            <%= link_to '查看',article,:class=>'btn' %>
            <% if can? :edit,article %>
            <%= link_to '修改',edit_article_path(article),:class =>'btn'  %>
            <% end %>
            <% if can? :destroy, article %>
            <%= link_to  '删除',article_path(article), :method => 'delete',:class=>'btn' %>
            <% end %>
          </div>
        </div>    
      </div>
</div>
</div>    
<% end %>

<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::LinkRenderer) %>

<div class="pagination"><%= paginate @articles %></div>

