<% if can? :create, Article %>
    <%= link_to '写新文章', {:controller => 'articles', :action => 'new'} %>
<% end %>

<div class="row">
  <div class="span9">
    <% @articles.each do |article| %>
        <div class="well">
          <%= article.title %>
          <%= simple_format(article.body) %>

          <div style="float:right;">
            <div class="btn-group">

              <%= link_to '查看', article, :class => 'btn' %>
              <% if can? :edit, article %>
                  <%= link_to '修改', edit_article_path(article), :class => 'btn' %>
              <% end %>
              <% if can? :destroy, article %>
                  <%= link_to '删除', article_path(article), :method => 'delete', :class => 'btn' %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="span3">
    <% @tags.each  do |tag|%>
       <span class="label label-info"> <%= tag.name %>    </span>
    <% end %>
  </div>
</div>

<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "<<上一页",
                  :next_label => "下一页>>", :class => "pagination") %>



