<thead>
	<tr>
		<td><%= link_to '新增', {:controller => 'roles', :action => 'new'} %></td>
	</tr>
	<tr>
		<td>操作</td>

		<td>角色名称</td><td>角色描述</td><td>状态</td>
	</tr>
</thead>
<tbody>
	<% @roles.each do |role|%>
	<tr>
		<td> <%= link_to '查看',role_path(role) %>
		<%= link_to '修改',edit_role_path(role) %>
		<%= link_to '删除',role_path(role),:method=>:delete,:confirm => "你确定要删除吗?"%> </td>
		<td><%= role.id%></td>
		<td><%= role.role_name%></td>
		<td><%= role.role_desc%></td>
		<td><%= role.state%></td>
	</tr>
	<% end%>
</tbody>

