<thead>
    <tr><td>id</td><td>角色名称</td><td>角色描述</td><td>状态</td></tr>    
</thead>
<tbody>
<% @roles.each do |role|%>
<tr>
	<td><%=role.id%></td>
    <td><%=role.role_name%></td>
    <td><%=role.role_desc%></td>
    <td><%=role.state%></td>
</tr>
<% end%>
</tbody>


<%= content_for :breadcrumb do %>
<%= link_to '新增', {:controller => 'roles', :action => 'new'},{:class=>'btn'} %>

   
<% end %>