<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CMS_admin</title>	
		<%= stylesheet_link_tag "/bootstrap/css/bootstrap.css" %>
		<%= stylesheet_link_tag "/bootstrap/css/bootstrap-responsive.css" %>	
		<%= javascript_include_tag "/bootstrap/js/bootstrap.js" %>
     <style type="text/css">
       body {
         padding-top: 50px;
         padding-bottom: 40px;
       }
       .sidebar-nav {
         padding: 9px 0;
       }i
     </style>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
  <body>
  

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">CMS系统后台设置</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">首页</a></li>
              <li><a href="#about">关于</a></li>
              <li><a href="#contact">联系</a></li>
            </ul>
            <p class="navbar-text pull-right">登录<a href="#">人名</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">内容</li>
              <li><a href="#">文章</a></li>
              <li><a href="#">栏目</a></li>               
              <li class="nav-header">用户管理</li>
              <li><a href="#">用户管理</a></li>
              
              <li class="nav-header">系统设置</li>
              <li><a href="#">权限设置</a></li>
              <li><a href="#">角色设置</a></li>
              <li><a href="#">基础字典设置</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class ="row">
            <div class ="span">
              <ul class="breadcrumb">

                <li>
                <a href="#">首页</a> <span class="divider">/</span>
                  </li>

	          <%= yield :breadcrumb%>	
	
                <li>
		

                <a href="#">类库</a> <span class="divider">/</span>
                </li>
                <li class="active">数据</li>
              </ul>
		<div id="Query_Data">
                <%=yield :queryData%>               
		
              </div>	
             
              <div class="btn-group">
                <%= yield :breadcrumb%>
              </div>
            </div>
          </div>





         <div class ="row">
          <table class="table table-condensed">
		<%= yield :condensed%>
            <tr><td>xxx</td> <td>ss</td></tr>
          </table>

        </div>
        
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy;CMSXITNG 2012</p>
      </footer>

    </div>







  </body>
</html>

