<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CMS_admin</title>	
		<%= stylesheet_link_tag "/bootstrap/css/bootstrap.css" %>
		<%= stylesheet_link_tag "/bootstrap/css/bootstrap-responsive.css" %>	
		<%= javascript_include_tag "/bootstrap/js/bootstrap.js" %>
	
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
  <body>
  

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">社会主义最民主</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">首页</a></li>
              <li><a href="#about">关于</a></li>
              <li><a href="#contact">联系</a></li>
            </ul>
            <p class="navbar-text pull-right">我代表<a href="#">人名</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class ="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <li>xxx</li> 
        
        
        </div>
        <div class="span10">sssssfefef</div>


      </div>
    </div>  








  </body>
</html>

