<!DOCTYPE html>
<html lang="en">
	<head>
    <title>CMS</title>
    <%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "/bootstrap/css/bootstrap.css" %>
		<%= stylesheet_link_tag "/bootstrap/css/bootstrap-responsive.css" %>	
		<%= javascript_include_tag "/bootstrap/js/bootstrap.js" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		
		<%= csrf_meta_tags %>
	</head>
	<body>


	   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         
          <a class="brand" href="#">CMS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
             <li>  <a href="#">主页</a></li>
	     <li><a href="">反馈</a></li>
              <li><a href="/articles">博文</a></li>              
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>    
            </ul>
            <form class="navbar-form pull-right">
             <input type="text" placeholder="Search"/>
            </form>
          </div>
        </div>
      </div>
    </div>

		<div class="container">
			<div class="content">
				<% if notice || alert %>
				<div  class="row">
                                <p class="notice"><%= notice %></p>
                               <p class="alert"> <%= alert %></p>
                                </div>		
                                <% end %>

				<div class="row">
					<div class="span10">
						<%= yield %>
					</div>
				</div>
			</div>
			<footer>
				<p>
					HI boke &copy; Jimmy  2012.  &copy; Jimmy 2012
				</p>
			</footer>

		</div>

	</body>
</html>
