<!DOCTYPE html>
<html lang="en">
<head>
  <title>Py890000的技术博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="#">HIHI</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/articles">主页</a></li>
          <li><a href="">关于</a></li>
          <li><a href="/articles">联系</a></li>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
        <form class="navbar-form pull-right">
          <input type="text" placeholder="Search"/>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">

        <div class="row">
          <% if notice  %>
          <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert"> <%= alert %></p>
          <% end %>
        </div>


    <div class="row">
      <!--<div class="span10">-->
        <%= yield %>
      <!--</div>-->
    </div>
  </div>
  <footer>
    <p>
      welcom boke &copy; Jimmy 2012. &copy; Jimmy 2012
    </p>
  </footer>

</div>

</body>
</html>
